# Global ignores
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/

# Flutter/Dart
.packages
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
build/
.pub-cache/
coverage/

# VSCode/IDE
.vscode/
.idea/
.gradle/

# Docker
**/.env
